<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel="shortcut icon" href="/static/img/project_logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <script src="/static/js/autoWin.js"></script>
        <script src="/static/js/config_tianfu.js"></script>
        <script src="/static/iconfonts/iconfont.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/static/js/jquery.jsplumb.js"></script>
        <script src="/static/js/radialIndicator.js"></script>
        <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>



        <link rel="stylesheet" href="/static/kinggrid/dialog/artDialog/ui-dialog.css"><!-- 弹出框css -->
        <link rel="stylesheet" href="/static/kinggrid/core/kinggrid.plus.css"><!-- 核心css -->
        <link rel="stylesheet" href="/static/kinggrid/core/kinggrid.plus.mobile.css"><!-- 手机端css -->
        <!-- ************************** html签章核心JS start*****************************-->
        <script src="/static/kinggrid/core/kinggrid.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/core/kinggrid.plus.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/dialog/artDialog/dialog-min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/signature.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/password.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/signature.mobile.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/signature_pad.min.js"></script>
        <script type="text/javascript" src="/static/kinggrid/html2canvas.min.js"></script>

        <script type="text/javascript" src="/static/kinggrid/jquery.qrcode.min.js"></script><!-- 二维码功能 -->
        <script type="text/javascript" src="/static/kinggrid/qrcode.min.js"></script><!-- 二维码功能 -->
        <script type="text/javascript" src="/static/kinggrid/jsQR.js"></script><!-- 二维码功能 -->
    </head>

    <body>
    </body>

</html>