<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel="shortcut icon" href="/static/img/project_logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <script src="/static/js/autoWin.js"></script>
        <script src="/static/js/config_shuangliu.js"></script>
        <script src="/static/iconfonts/iconfont.js"></script>
        <script src="/static/js/jquery.js"></script>


        <link rel="stylesheet" href="/static/kinggrid/dialog/artDialog/ui-dialog.css">
        <link rel="stylesheet" href="/static/kinggrid/core/kinggrid.plus.css">
        <link rel="stylesheet" href="/static/kinggrid/core/kinggrid.plus.mobile.css">

    </head>

    <body>
    </body>

</html>